.backgroud {
    .container {
        .form-report {
            height: 285px;
            width: 500px;
            box-shadow: 0 0 10px rgba(127, 189, 255, 0.5);
            margin:  16px;
            margin-top: 56px;
            padding: 12px;
            text-decoration: none;
            border-radius: 10px;
            h4{
                color: rgba(0, 179, 255, 0.5);
            }
        }
    }
}