.background {
    .container {
        margin-top: 56px;
        padding: 12px;
        .form {
            box-shadow: 0 0 10px rgba(0 , 0, 0, 0.5);
            margin:  16px;
            margin-top: 56px;
            padding: 12px;
            p {
                 font-size: 24px;
            }
            .body-form{
                height: 72px;
            }
            .form-img-container {
                display: block;
                .form-img {
                    display: flex;
                    justify-content: center; /* căn giữa theo chiều ngang */
                    align-items: center; /* căn giữa theo chiều dọc */
                    height: 100%; /* chiều cao của div sẽ bằng chiều cao của form */
                    img{
                        max-width: 75%; /* ảnh sẽ không vượt quá chiều rộng của div */
                        height: auto; /* chiều cao tự động tính theo tỉ lệ của ảnh */
                    }
                }   
            }
        }
    
        
    }
    
}
