.backgroud{
    .container {
        .accordion-item{
            margin-bottom: 12px;
            .accordion-button{
                background-color: rgb(99, 179, 249);
            }
            .accordion-button:focus{
                outline: none;
            }
            .img-product{
                width: 90px;
                height: 90px;
            }
        }
            
    }
}
